body {
  background: url('../images/crinkled-bg.jpg');
}

a {
  color: #006AD4;
}

#socialbar {
  background-color: #006AD4;
}

#footer {
  background: #006AD4;
}

#contact-block {
  color: black;
  font-weight: 900;
}

.article-image {
  height: 100px;
}
